.navbar .container .navbar-brand {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    font-style: italic;
}

.navbar .container .navbar-brand span {
    color: indianred;
}
    
.home{
    margin-top: 50px;
    margin-bottom: 80px;
}

.hero{
    margin-bottom: 80px;
}

.kuliner{
    margin-top: 50px;
    float: left;
}
.kuliner-body{
    text-align: right;
}
.sejarah{
    margin-top: 50px;
    margin-bottom: 70px;
}
.sejarah-body{
    margin-top: 80px;

}

/*Footer*/
